.filters {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: 24px 0 32px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(30, 58, 138, 0.1);
}

.filters_input {
  flex: 1 1 0;
  min-width: 300px !important;
}

.filters_row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 768px) {
  .filters {
    padding: 16px;
    margin: 16px 0;
    gap: 16px;
  }

  .filters_input {
    min-width: 100% !important;
  }

  .filters_row {
    flex-direction: column;
    gap: 16px;
  }
}
